# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Julie Wang
#	email = jwang135@gmail.com










[user]
	name = wangjuli
	email = wangjuli@umich.edu
